# Ignore contents of data and output directories
data/flux/*
data/xsecs/*
data/microboone
outputs/*

# Ignore compiled binaries
TEG_v2

# Ignore cross section files generated and imported
cross_sections/*.txt
cross_sections/*.csv

# Ignore other output files (both debug and production)
*.root
*.db
*.log
*.pndr
*.txt
*.hepmc3
*.hepevt

