# Ignore contents of data and output directories
data/flux/*
data/xsecs/*
data/microboone
outputs/*

# Ignore compiled binaries
TEG_v2

# Ignore cross section files generated and imported
cross_sections/*.txt
cross_sections/*.csv

# Ignore other output files (both debug and production)
*.root
*.db
*.log
*.pndr
*.txt
*.hepmc3
*.hepevt
*.pdf
*.png

# Ignoring specific output files and test areas
jobs/HEPevtfile_list
jobs/test_area

# Output files from running larsoft with pandora
Pandora_Geometry.xml
jobs/*.list
sensitivity
jobs/helper_fcls/Simulation_AddOverlay_batch_80evts_LOCAL.fcl
jobs/helper_fcls/Simulation_AddOverlay_batch_80evts_TEMPLATE.fcl
jobs/helper_fcls/Simulation_AddOverlay_batch_test.fcl
scripts/uboone_4f_evgen_scan.sh
scripts/uboone_4f_xsec_scan.sh
scripts/n_flux_files.sh
jobs/helper_scripts/unzip_iso_script.sh
flux_plotter.ipynb
